body {
    background-image: url('./img/pixel.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: auto;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form input {
    background-color: rgba(128, 205, 250, 0.363);
}

.class-card {
    width: 20rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.822);

}

.class-card.selected {
    border-color: #006cf0;
    background-color: rgba(128, 205, 250, 0.838);
}

.criar-heroi {
    background-color: #059ff8;
    color: #ffffff;
    font-size: 1.5rem;
}

.criar-heroi:hover {
    background-color: #059ff8;
    color: #ffffff;
}

.img-guerreiro {
    width: 300px;
}

.img-mago {
    width: 190px;
}

.fightarea {
    display: flex;
    gap: 1%;
}

.ringue {
    width: 100%;
    border: 2px solid #ffffff;
    height: 59vh;
    background-color: rgba(255, 255, 255, 0.34);
}

.ringue-monstro {
    width: 100%;
    height: 59vh;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.34);
}

.fighter-image {
    padding-bottom: 25px;
    margin-top: 45px;
}

.fighter-image-monster {
    padding-bottom: 25px;
    margin-top: 45px;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

.jump-animation {
    animation: jump .9s ease-in-out;
}


#char,
#monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: #ff0000;
    border-radius: 5px;
}

.attackButton {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #059ff8;
    color: #ffffff;
    padding: 10px;
    width: 140px;
    border: 0;
    border-radius: 7px;
    font-size: 1.5rem;
}

.attackButton:hover {
    background-color: #059ff8;
    color: #ffffff;
}

.painel {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.25rem;
}

.log {
    background-color: rgba(0, 0, 0, 0.603);
    border: 2px solid #000000;
    height: 23%;
    overflow-y: auto;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.hidden2 {
    display: none;
}

.rodape {
    bottom: 0;
    width: 100%;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #059ff8;
}

.rodape p {
    padding: 2px;
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: 2px;
}

.rodape p a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 950px) {
    body {
        overflow-y: scroll;
    }

    .hidden2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 30px;
        background-color: rgba(255, 255, 255, 0.495);
        padding: 1.25rem;
        margin: 1rem;
        text-transform: uppercase;
        font-size: 3rem;
    }

    .titulo {
        background-color: rgba(255, 255, 255, 0.34);
        color: #000000;
        border-radius: 20px;
    }

    .label {
        background-color: rgba(255, 255, 255, 0.34);
        color: #000000;
        border-radius: 10px;
    }

    .input {
        width: 50%;
    }

    .class-card {
        width: 8rem;
    }

    .class-card h3 {
        font-size: 1.25rem;
    }

    .atributos {
        font-size: 0.7rem;
    }

    .criar-heroi {
        font-size: 0.65rem;
        padding: 7px;
        margin-bottom: 10px;
    }

    .painel {
        background-color: #00000050;
    }

    .name {
        font-size: 1rem;
    }

    .img-guerreiro {
        width: 70px;
        margin-bottom: 25px;
    }

    .img-mago {
        width: 38px;
        margin-bottom: 24px;
    }

    .ringue {
        height: 50vh;
    }

    .ringue-monstro {
        height: 50vh;
    }

    .attackButton {
        padding: 5px;
        font-size: 1rem;
        width: 10%;
    }

    .log {
        height: 22%;
        font-size: .875rem;
    }

    .rodape p {
        padding: 1px;
        font-size: .5rem;
        font-weight: 400;
        margin-bottom: 0;
    }
}

@media (max-width: 950px) and (orientation:portrait) {
    .hidden3 {
        display: none;
    }
}

@media (max-width: 950px) and (orientation:landscape) {
    .hidden2 {
        display: none;
    }
}